*:focus {
  outline: 1px solid transparent;
}

* {
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Quicksand";
  letter-spacing: .07em;
  color: #531ba1;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 19px;
}

h1, h2 {
  color: #440d91;
}

.regular {
  font-size: .9em;
  font-weight: 400;
}

.little_head {
  font-weight: 600;
}

.margin_box {
  width: 85%;
  margin: auto;
  position: relative;
}

aside {
  position: fixed;
  top: 0;
  margin-left: -100%;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-left: 10%;
  padding-top: 100px;
  width: 90%;
  min-width: 280px;
  max-width: 600px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#531ba1), to(#23064c));
  background: linear-gradient(to bottom, #531ba1, #23064c);
  font-size: 1px;
}

aside .hambuger-close {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  padding-left: 12px;
  position: absolute;
  right: 5%;
  top: 30px;
}

aside .hambuger-close i {
  font-size: 20px;
}

aside .profile-photo {
  border-radius: 100%;
  border: 3px solid white;
  padding: 10px;
  width: 200px;
  height: 200px;
}

aside .profile-photo img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

aside .contact-details {
  width: 100%;
}

aside .contact-details ul {
  width: 100%;
  list-style-type: none;
  margin-top: 50px;
}

aside .contact-details ul li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px 10px;
  margin-bottom: 5px;
}

aside .contact-details ul li a {
  display: inline-block;
  text-align: left;
  color: white;
  text-align: center;
}

aside .contact-details ul li .font-awesome {
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
}

aside .action-btn {
  position: absolute;
  bottom: 50px;
  width: 100%;
}

aside .action-btn a {
  padding: 10px 30px;
  border-radius: 50px;
  color: #23064c;
  letter-spacing: .05em;
  background: white;
}

aside .action-btn a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #eeee01;
  color: #23064c;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .margin_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 20px;
}

header .site_logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-right: 20px;
}

header img {
  width: 50px;
  height: 50%;
}

header .site_title {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

header .hamburger-open {
  position: absolute;
  right: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

header .hamburger-open div {
  width: 19px;
  height: 3px;
  background: #23064c;
  border-radius: 5px;
}

header .hamburger-open div:not(:last-child) {
  margin-bottom: 5px;
}

main {
  position: absolute;
  padding-bottom: 100px;
}

main .section_header {
  padding: 20px 0px 5px;
}

main .projects {
  margin-top: 8px;
}

main .projects-item:not(:last-child) {
  margin-bottom: 20px;
}

main .projects-item-image {
  width: 100%;
  max-width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}

main .projects-item .id_gen {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/id_gen_1.png");
  background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/id_gen_1.png");
  -webkit-transition: 2s;
  transition: 2s;
}

@-webkit-keyframes bg-change {
  20% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/id_gen_2.png");
    background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/id_gen_2.png");
    background-size: cover;
    background-position: center;
  }
  40% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/id_gen_3.png");
    background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/id_gen_3.png");
    background-size: cover;
    background-position: center;
  }
  60% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/id_gen_4.png");
    background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/id_gen_4.png");
    background-size: cover;
    background-position: center;
  }
  80% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/id_gen_5.png");
    background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/id_gen_5.png");
    background-size: cover;
    background-position: center;
  }
}

@keyframes bg-change {
  20% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/id_gen_2.png");
    background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/id_gen_2.png");
    background-size: cover;
    background-position: center;
  }
  40% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/id_gen_3.png");
    background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/id_gen_3.png");
    background-size: cover;
    background-position: center;
  }
  60% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/id_gen_4.png");
    background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/id_gen_4.png");
    background-size: cover;
    background-position: center;
  }
  80% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/id_gen_5.png");
    background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/id_gen_5.png");
    background-size: cover;
    background-position: center;
  }
}

main .projects-item .id_gen:hover {
  -webkit-animation: 10s linear infinite bg-change;
          animation: 10s linear infinite bg-change;
}

main .projects-item .m_player {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/player_1.png");
  background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/player_1.png");
  -webkit-transition: 2s;
  transition: 2s;
}

@-webkit-keyframes bg-change-2 {
  20% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/player_2.png");
    background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/player_2.png");
    background-size: cover;
    background-position: center;
  }
  80% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/player_1.png");
    background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/player_1.png");
    background-size: cover;
    background-position: center;
  }
}

@keyframes bg-change-2 {
  20% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/player_2.png");
    background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/player_2.png");
    background-size: cover;
    background-position: center;
  }
  80% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/player_1.png");
    background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/player_1.png");
    background-size: cover;
    background-position: center;
  }
}

main .projects-item .m_player:hover {
  -webkit-animation: 10s linear infinite bg-change-2;
          animation: 10s linear infinite bg-change-2;
}

main .projects-item .calc {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/calc.png");
  background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/calc.png");
  -webkit-transition: 2s;
  transition: 2s;
}

@-webkit-keyframes bg-change-3 {
  20% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/calc_2.png");
    background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/calc_2.png");
    background-size: cover;
    background-position: center;
  }
  80% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/calc.png");
    background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/calc.png");
    background-size: cover;
    background-position: center;
  }
}

@keyframes bg-change-3 {
  20% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/calc_2.png");
    background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/calc_2.png");
    background-size: cover;
    background-position: center;
  }
  80% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 27, 161, 0.117)), to(rgba(35, 6, 75, 0.896))), url("../img/calc.png");
    background: linear-gradient(to bottom, rgba(83, 27, 161, 0.117), rgba(35, 6, 75, 0.896)), url("../img/calc.png");
    background-size: cover;
    background-position: center;
  }
}

main .projects-item .calc:hover {
  -webkit-animation: 10s linear infinite bg-change-3;
          animation: 10s linear infinite bg-change-3;
}

main .projects-item .id_gen, main .projects-item .m_player, main .projects-item .calc {
  background-size: cover;
  background-position: center;
}

main .projects-item-descr {
  margin-bottom: 10px;
}

main .projects-item-actBtns button {
  background: none;
  border: none;
}

main .projects-item-actBtns button:first-child {
  margin-right: 10px;
}

main .projects-item-actBtns a {
  background: #23064c;
  letter-spacing: .05em;
  color: white;
  display: block;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

main .projects-item-actBtns a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .projects-item-actBtns button:nth-child(2) a:hover {
  background: #eeee01;
  color: #23064c;
}

main .certs p {
  margin-bottom: 10px;
}

main .certs p a {
  color: #23064c;
}

@media (min-width: 1064px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
  }
  h1, h2 {
    color: #440d91;
  }
  .regular {
    font-size: 1.1em;
  }
  header img {
    width: 70px;
    height: 100%;
  }
  main {
    padding-bottom: 100px;
  }
  main .section_item {
    width: 30%;
  }
  main .section_item:first-child {
    margin-right: 50px;
  }
  main .section:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .section:nth-child(2) .section_ {
    padding-bottom: 30px;
  }
  main .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .projects-item {
    width: 30%;
    height: 380px;
    position: relative;
  }
  main .projects-item-actBtns {
    position: absolute;
    bottom: 0;
  }
  main .certs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .certs .section_item {
    width: 30%;
  }
}
