@import './resets';

body {
    font-family: "Quicksand";
    letter-spacing: .07em;
    color: hsl(265, 71%, 37%);
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 19px;
}

h1, h2 {
    color: hsl(265, 83%, 31%);
}

.regular {
    font-size: .9em;
    font-weight: 400;
}
.little_head {
    font-weight: 600;
}
.margin_box {
    width: 85%;
    margin: auto;
    position: relative;
}

aside {

    position: fixed;
    top: 0;
    margin-left: -100%;
    width: 100%;
    height: 100%;

    z-index: 1;

    padding-left: 10%;
    padding-top: 100px;


    width: 90%;
    min-width: 280px;
    max-width: 600px;

    color: white;
    background: linear-gradient(to bottom, hsl(265, 71%, 37%), hsl(265, 86%, 16%));
    font-size: 1px;

    .hambuger-close  {
        width: max-content;
        padding: 10px;
        padding-left: 12px;
        position: absolute;
        right: 5%;
        top: 30px;

        i {
            font-size: 20px;
        }
    }

    .profile-photo{
        border-radius: 100%;
        border: 3px solid white;
        padding: 10px;
        width: 200px;
        height: 200px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }

    }

    .contact-details {
        width: 100%;

        ul {
            width: 100%;

            list-style-type: none;
            margin-top: 50px;

            li {
                width: 100%;
                display: flex;
                padding: 10px 0px 10px;
                margin-bottom: 5px;


                a {
                    display: inline-block;
                    text-align: left;
                    color: white;
                    text-align: center;
                }

                .font-awesome {
                    display: inline-block;
                    font-size: 20px;
                    margin-right: 10px;
                }

            }
        }
    }

    .action-btn {
        position: absolute;
        bottom: 50px;
        width: 100%;

        a {
            padding: 10px 30px;
            border-radius: 50px;
            color: hsl(265, 86%, 16%);
            letter-spacing: .05em;
            background: white;

            &:hover {
                transform: scale(1.1);
                background: rgb(238, 238, 1);
                color: hsl(265, 86%, 16%);

            }
        }
    }


}

header {


    .margin_box {
        display: flex;
        align-items: center;
        padding: 20px 0px 20px;
    }

    width: 100%;
    display: flex;
    align-items: center;

    .site_logo {
        width: max-content;
        height: max-content;
        margin-right: 20px;
    }
    img {
        width: 50px;
        height: 50%;
    }

    .site_title {
        height: max-content;
    }

    .hamburger-open {
        position: absolute;
        right: 0;
        height: max-content;
        width: max-content;

        div {
            width: 19px;
            height: 3px;
            background: hsl(265, 86%, 16%);
            border-radius: 5px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}

main {
    position: absolute;


    .section_header {
        padding: 20px 0px 5px;
    }

    .projects {

     margin-top: 8px;

        &-item {

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &-image {
                width: 100%;
                max-width: 350px;
                height: 200px;
                border-radius: 10px;
                margin-bottom: 10px;
            }

            .id_gen {
                background: linear-gradient(to bottom, hsla(265, 71%, 37%, 0.117),
                hsla(265, 85%, 16%, 0.896)), url('../img/id_gen_1.png');
                transition: 2s;

                @keyframes bg-change {
                    20% {
                        background: linear-gradient(to bottom, hsla(265, 71%, 37%, 0.117),
                        hsla(265, 85%, 16%, 0.896)), url('../img/id_gen_2.png');
                        background-size: cover;
                        background-position: center;
                    }

                    40% {
                        background: linear-gradient(to bottom, hsla(265, 71%, 37%, 0.117),
                        hsla(265, 85%, 16%, 0.896)), url('../img/id_gen_3.png');
                        background-size: cover;
                        background-position: center;
                    }

                    60% {
                        background: linear-gradient(to bottom, hsla(265, 71%, 37%, 0.117),
                        hsla(265, 85%, 16%, 0.896)), url('../img/id_gen_4.png');
                        background-size: cover;
                        background-position: center;
                    }

                    80% {
                        background: linear-gradient(to bottom, hsla(265, 71%, 37%, 0.117),
                        hsla(265, 85%, 16%, 0.896)), url('../img/id_gen_5.png');
                        background-size: cover;
                        background-position: center;
                    }
                }

                &:hover {
                     animation: 10s linear infinite bg-change;
                }
            }
            .m_player {
                background: linear-gradient(to bottom, hsla(265, 71%, 37%, 0.117),
                hsla(265, 85%, 16%, 0.896)), url('../img/player_1.png');
                transition: 2s;

                @keyframes bg-change-2 {
                    20% {
                        background: linear-gradient(to bottom, hsla(265, 71%, 37%, 0.117),
                        hsla(265, 85%, 16%, 0.896)), url('../img/player_2.png');
                        background-size: cover;
                        background-position: center;
                    }

                    80% {
                        background: linear-gradient(to bottom, hsla(265, 71%, 37%, 0.117),
                        hsla(265, 85%, 16%, 0.896)), url('../img/player_1.png');
                        background-size: cover;
                        background-position: center;
                    }
                }

                &:hover {
                    animation: 10s linear infinite bg-change-2;

                }
            }
            .calc {
                background: linear-gradient(to bottom, hsla(265, 71%, 37%, 0.117),
                hsla(265, 85%, 16%, 0.896)), url('../img/calc.png');

                transition: 2s;

                @keyframes bg-change-3 {
                    20% {
                        background: linear-gradient(to bottom, hsla(265, 71%, 37%, 0.117),
                        hsla(265, 85%, 16%, 0.896)),  url('../img/calc_2.png');
                        background-size: cover;
                        background-position: center;
                    }

                    80% {
                        background: linear-gradient(to bottom, hsla(265, 71%, 37%, 0.117),
                        hsla(265, 85%, 16%, 0.896)),  url('../img/calc.png');
                        background-size: cover;
                        background-position: center;
                    }
                }

                &:hover {
                    animation: 10s linear infinite bg-change-3;

                }
            }
            .id_gen, .m_player, .calc {
                background-size: cover;
                background-position: center;
            }

            &-descr {
                margin-bottom: 10px;
            }

            &-actBtns {
                button {
                    background: none;
                    border: none;
                }
                button:first-child {
                    margin-right: 10px;

                }
                a {
                    background: hsl(265, 86%, 16%);
                    letter-spacing: .05em;
                    color: white;
                    display: block;
                    padding: 10px 30px;
                    border-radius: 50px;
                    font-size: 16px;
                    font-family: 'Quicksand', sans-serif;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                button:nth-child(2) {
                    a {
                       &:hover {
                           background: rgb(238, 238, 1);
                           color: hsl(265, 86%, 16%);
                       }
                    }
                }
            }
        }
    }
    .certs {
        p {
            margin-bottom: 10px;

            a {
                color: hsl(265, 86%, 16%);
            }
        }
    }

    padding-bottom: 100px;
}

@media (min-width: 1064px) {

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }
    p {
        font-size: 18px;
    }
    h1, h2 {
        color: hsl(265, 83%, 31%);
    }

    .regular {
        font-size: 1.1em;
    }


    header {

        img {
            width: 70px;
            height: 100%;
        }

    }

    main {

        .section {

            &_item {
                width: 30%;

                &:first-child {
                    margin-right: 50px;
                }
            }

            &:nth-child(2) {
                display: flex;

                .section_ {
                    padding-bottom: 30px;
                }
            }
        }

        .projects {
            display: flex;
            justify-content: space-between;

            &-item {
                width: 30%;
                height: 380px;
                position: relative;

                &-actBtns {
                    position: absolute;
                    bottom: 0;
                }

            }

        }
        .certs {

            display: flex;



            .section {

                &_item {
                    width: 30%;
                }
            }
        }

        padding-bottom: 100px;
    }
}
